.card {
  margin: 1em 0;
  position: relative;
}

.card-content {
  padding-top: 2em;
  min-height: 10em;
  background: rgba(0, 255, 0, 0.1);
  background: linear-gradient(transparent 0, rgba(0, 255, 0, 0.1) 2em);
  cursor: pointer;
}

.fab {
  position: absolute;
  top: 3ch;
  right: 3ch;
}

.chip {
  margin: 1ch;
}
