.card {
  margin: 1em 0;
}

.card-content > :not(:first-of-type) {
  margin: 1em 0;
}

.card-content img {
  float: left;
  max-width: 50%;
}

.with-background {
  border-left: 1ch solid lightblue;
  background: lightcyan;
  padding-left: 1ch;
}

.acknowledgements {
  border: 2px solid blue;
  padding: 1em;
  display: flex;
  align-items: flex-start;
}

.acknowledgements-text {
  width: 85%;
}

.acknowledgements-logo {
  width: 15%;
  margin-left: 1em;
  display: flex;
}

.fill {
  min-width: 100%;
  min-height: 100%;
}
