.horizontal {
  display: flex;
  flex-direction: row;
}

.menu {
  overflow-y: scroll;
  width: 20%;
  height: 30em;
}

.text {
  overflow-y: scroll;
  width: 80%;
  height: 30em;
}

.paragraph {
  margin: 1em;
}

.header {
  margin-bottom: 1em;
}

.hr {
  margin-top: 1.5em;
  color: lightGrey;
}

.section {
  margin: 1em 0;
}

.summary {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.space {
  display: block;
  content: '';
  margin-top: 0.5em;
}
