.container {
  flex: 1;
  width: 100%;
  background: black;
  position: relative;
}

.container[data-loading]::before {
  content: attr(data-loading);
  color: white;
  background: black;
  padding-top: 1ch;
  padding-left: 1ch;
}

.container::before,
.container.loading-trajectory::before {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.container.loading-pdb {
  pointer-events: none;
}

.container > canvas {
  height: 0;
}
