.container {
  flex: 1;
  width: 100%;
  background: black;
  position: relative;
}

.container.loading::after {
  content: attr(data-loading);
  color: white;
  position: absolute;
  top: 1ch;
  left: 1ch;
}

.container::before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
}

.container.loading::before {
  opacity: 1;
}

.container > canvas {
  height: 0;
}
