.delete {
  float: right;
  margin: 1em auto;
}

.graph-container {
  height: 25vh;
}

.graph-container > svg {
  cursor: crosshair;
}

.graph-container .axis {
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
}

.graph-container:hover .axis {
  opacity: 1;
}

.bar-legend {
  text-anchor: middle;
}

.visual.bars {
  fill: #67b7dc;
}

.visual.bars :not(.has-projection) {
  fill-opacity: 0.5;
}

.visual.bars .projected {
  fill: #84b761;
}

.target.bars {
  fill: transparent;
}

.target.bars > :not(.has-projection) {
  cursor: not-allowed;
}

.explanation .top-line {
  fill: none;
  stroke: #fdd400;
  stroke-width: 1.5;
}

.explanation .area {
  fill: #fdd400;
  fill-opacity: 0.1;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: none;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid gray;
  padding: 0.5ch;
  border-radius: 0.5ch;
}

.tooltip > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip p {
  margin: 0;
}

.tooltip p:first-child,
.tooltip p:last-child {
  margin: 1ch 0;
}
