.button {
  z-index: 1;
  position: fixed !important;
  bottom: 6vh;
  right: 6vw;
  transform: translate(50px, 50px) scale(0, 0);
  opacity: 0;
  pointer-events: none;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
}

.button.visible {
  transform: translate(0, 0) scale(1, 1);
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition-duration: 0;
  }
}
