.card {
  margin: 1em 0;
}

.rnd {
  z-index: 1;
  opacity: 1;
  pointer-events: initial;
  transition: opacity 0.5s ease-in-out;
}

.rnd.hidden {
  opacity: 0;
  pointer-events: none;
}

.floating-card {
  height: 100%;
}

.ngl-viewer-with-controls {
  height: 100%;
}
